<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
	<property name="DEV_HOME" value="F:/JAVA/apache-tomcat-8.0.36/logs" />
	<!-- ==============IF WANT TO SEND THE LOG TO THE CONSOLE ===================== -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender> 

 	<!-- ==============IF WANT TO SEND THE LOG TO THE DEBUG FILE ===================== -->
 	<appender name="DETAILED-APP-LOG-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/restdetailed-app.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>
 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/detailed-app.%d{yyyy-MM-dd}.%i.log
                        </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
 
	</appender>
	
	<!-- ==============IF WANT TO SEND THE LOG TO THE DEBUG FILE ===================== -->
 	<appender name="APP-LOG-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/app.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>
 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/app.%d{yyyy-MM-dd}.%i.log
                        </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
 
	</appender>
	
	<!-- ==============IF WANT TO SEND THE LOG TO THE ERROR FILE ===================== -->
	<appender name="ERROR-LOG-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/error.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>
 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/error.%d{yyyy-MM-dd}.%i.log
                        </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
 
	</appender>
	<logger name="com.jmk.bt" level="INFO" >
		<appender-ref ref="APP-LOG-FILE" />
		<appender-ref ref="STDOUT" />
	</logger> 
	
	<!-- <logger name="error-logger" level="ERROR" >
		<appender-ref ref="ERROR-LOG-FILE" />
	</logger>
  -->
	<root level="debug">
		<appender-ref ref="DETAILED-APP-LOG-FILE" />
	</root>
 
</configuration>