.header_container {
	background: rgb(130, 0, 0);
	border: 1px solid #666;
	height: 98px;
	left: 0;
	margin: 1px 0 auto;
	width: 100%;
	top: 0;
	position: absolute;
}

.header_login {
	background: rgb(130, 0, 0);
	border: 1px solid #666;
	height: 98px;
	left: 0;
	margin: 1px 0 auto;
	width: 600px;
	top: 0;
	position: absolute;
}

.header {
	line-height: 98px;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	text-align: left;
}

.txt_adminblue {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #CC0000;
	text-decoration: none;
}

/* Make Footer Sticky */
.footer_container {
	background: rgb(255, 255, 255);
	border: 0px solid #666;
	bottom: 0;
	height: 39px;
	left: 0;
	margin: 1px -14;
	width: 100%;
}

.footer {
	line-height: 39px;
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

.main_header_font {
	font-weight: 900;
	font-family: 'Titillium Web', sans-serif;
	position: relative;
	font-size: 36px;
	padding: 5px 0px 50px 0%;
	color: rgb(255, 255, 255);
}

.main_footer_font {
	font-weight: 900;
	font-family: 'Titillium Web', sans-serif;
	position: relative;
	font-size: 10px;
	padding: 5px 0px 50px 0%;
	color: rgb(0, 0, 0);
}